/data/alzheimers_disease_data.csv
/tcga_brca/data/
/tcga_brca/R/my_dataset_feb*
/tcga_brca/R/.Rproj.user
/STAT_443.Rproj
/cll_driver_outcome/.Rproj.user
/cll_driver_outcome/data
/cll_driver_outcome/eda/data_mutations_vc.txt
/cll_driver_outcome/.RData
/cll_driver_outcome/.Rhistory
/cll_driver_outcome/cll_driver_outcome.Rproj
/tcga_brca/R/.Rhistory
/tcga_brca/R/.RData
/tcga_brca/R/R.Rproj
/tcga_brca/data/my_dataset.csv
/tcga_brca/data/my_dataset_feb_14.csv
/tcga_brca/data/my_dataset_modified.csv

